body {
  height: 200vh;
}
.boxes {
  border: 3px solid lightgrey;
  position: relative;
}
.box {
  width: 5rem;
  height: 5rem;
}
.box-one {
  background-color: gold;
}
.box-two {
  background-color: tomato;
  position: fixed;
  top: 0;
  left: 2rem;
  right: 2rem;
  width: auto;
  /* transition: 0.3s; */
}
.box-three {
  background-color: dodgerblue;
}

/* .box-two:hover {
  position: relative;
  left: -1rem;
  transition: 0.3s;
} */
